*{
    font-family: 'Copperplate', 'Copperplate Gothic', 'Arial', sans-serif;
  
  }
body{
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
    
}
:root {
  --apt-background:#FFF;
  --apt-background-dark:#000;

  --apt-element-background:#E4F4E9;
  --apt-text:#000;
  --apt-contrast-text:#fff;
  --apt-text-label:#9D9994;
  --apt-text-element-background:#E1F1EF;

  --apt-button-background:#FBF59B;
  --apt-button-background-hover: #fffeed;
  --apt-button-secundary:#FAF1C0;

  --apt-element-background-error:#e68383;

}

:root {
  --color-background: var(--apt-background);

  --element-background:var(--apt-element-background);
  --color-text:var(--apt-text);
  --color-contrast-text:var(--apt-contrast-text);
  --color-text-label:var(--apt-text-label);
  --color-text-element-background:var(--apt-text-element-background);

  --color-button-background:var(--apt-button-background);
  --color-button-background-hover:var(--apt-button-background-hover);
  --color-button-secundary:var(--apt-button-secundary);

  --color-background-error:var(var(--apt-element-background-error))

}
  
.gradient {
  width: 100%;
  height: 100%;
  
  position: relative;
  z-index: 2;
  background-image: linear-gradient(to top, #000E, #fff0 40%);
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
}

h3{
  font-size: 20px;
}

.container {
  width: 500px;
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para el formulario */
.form {
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--element-background);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

label {
  display: block;
  margin-bottom: 5px;
  color: black; /* Color del texto de las etiquetas */
  font-weight: bold;
}

input {
  width: 90%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9; /* Color de fondo del campo de entrada */
}

button {
  box-shadow: 0px 4px 6px #0006;
  border: none;
  border-radius: .5vw;
  margin: 10px; /* Agregamos un espacio entre los botones */
  padding: 12px 20px;
  background-color: var(--color-button-background);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
button:hover {
  background-color: var(--color-button-background-hover); /* Color de fondo del botón al pasar el cursor */
}

select {
  box-shadow: 0px 4px 6px #0006;
  border: none;
  border-radius: .5vw;
  margin: 10px; /* Agregamos un espacio entre los botones */
  padding: 12px 20px;
  background-color: var(--color-button-background);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.error {
  transition: all 0.25s;
  border-radius: 0.5vw;
  padding: 10px;
  background-color: var(--apt-element-background-error);
  font-weight: bolder;
  text-align: center;
  width: 90%;
  align-self: center;
}

.overview{
  z-index: 20;
  position: absolute;
  padding: 20px;

  border-radius: 10px;
  background-color: var(--element-background);

  margin-bottom: 15px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}